@import url("reset.css");
body{
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    background-color: #e7eef3;
    min-height: 100vh;
    font-family: "Noto Sans TC", sans-serif;
}
img, svg {
    max-width: 100%;
    vertical-align: top;
}
video{
    display: block;
}
p{
    /* font-family: 'ZCOOL QingKe HuangYou', sans-serif; */
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.125em !important;
    color: #444849;
}
.main-pd-content{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.125em;
    color: #444849;
}
h2{
    font-size: 24px;
}
a{
    text-decoration: none;
}
.margin-top{
    margin-top: 36px;
}
.wrap {
  margin-top: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-GP{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
}
.button {
    margin: 24px;
  margin-top: 24px;
  width: 180px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: rgb(192, 167, 87);
  box-shadow: 0px 15px 20px rgba(192, 167, 87, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
#container{
    position: relative;
}
#Content {
    position: relative;
}
.topic{
    position: relative;
    margin: 0 auto;
}
.product-list{
    position: relative;
    margin: 0 auto;
}
.main-product{
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
}
.topics-title{
    font-weight: 500;
    font-style: normal;
    letter-spacing: .25em;
    line-height: 1;
    text-align: center;
    color: #C0A757;
}
.topics-categories-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=radio] {
    display: none;
  }

.topics-categories-list label {
    margin: 0 28px;
}
.topics-categories-list label {
    cursor: pointer;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .25em;
    position: relative;
    line-height: 1;
    font-size: 14px;
    padding-bottom: 17px;
    transition: all 0.3s;
}
input[type=radio]:checked+label { 
    border-color: orange;
    color: #C0A757;
    border-bottom: solid 1px #C0A757;;
   transition: all 0.3s;
    /* box-sizing: border-box; */
}
.grid-group{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 3%;
    /* grid-auto-rows: 40vmin; */
    grid-auto-flow: row dense;
}
.tile {
    /* max-width: 250px; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: .5em;
    transition: all .15s;
    /* 背景底圖 */
    /* background:  url('https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop='); */
    background-size: cover;
    background-position: center;
    /* background-color: #00acee; */
    /* 背景底圖 */
    /* box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.329); */
}
.pds-list-title{
    margin-top: 41px;
    font-size: 18px;
}
.tile >*{
    color: #444849;
}
.tile:hover .news-pic .main-pic{
    transform: scale(1.05);
    transition: all 0.3s;
}
.tile:hover h3{
    text-decoration: underline;
    transition: all 0.3s;
}
.ig01{
    background-image: url(/image/news_image/ig01.jpg);
}
.ig02{
    background-image: url(/image/news_image/ig02.jpg);
    background-position: center;
}
.ig03{
    background-image: url(/image/news_image/ig03.jpg);
}
.ig04{
    background-image: url(/image/news_image/ig04.jpg);
    background-position: center 40%;
}
.ig05{
    background-image: url(/image/news_image/ig05.jpg);
}
.ig06{
    background-image: url(/image/news_image/ig06.jpg);
}
.ig07{
    background-image: url(/image/news_image/ig07.jpg);
}
.ig08{
    background-image: url(/image/news_image/ig08.jpg);
}
.ig09{
    background-image: url(/image/news_image/ig09.jpg);
}
.cans01{
    background-image: url(/image/news_image/cans01.jpg);
    background-position: center;
}
.cans02{
    background-image: url(/image/news_image/cans02.jpg);
}
.cans03{
    background-image: url(/image/news_image/cans03.jpg);
}
.cans04{
    background-image: url(/image/news_image/cans04.jpg);
    background-position: center;
}
.cans05{
    background-image: url(/image/news_image/cans05.jpg);
    background-position: top center;
}
.cans06{
    background-image: url(/image/news_image/cans06.jpg);
    background-position: top center;
}
.cans07{
    background-image: url(/image/news_image/cans07.png);
    background-position: center 30%;
}
.pdbg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-image: url(/image/product-bg.jpg);
    filter:brightness(1.05);
}
.pds-image{
    display: block;
    height: 90%;
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.1))
}
.image-size-width{
    height: 50%;
}
.main-pic{
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 0.3s;
}
.news-pic{
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #e6f1f9;
    width: 100%;
    height: 160px;
    position: relative;
}
.news-title{
    font-size: 14px;
    text-align: justify;
    display:-webkit-box;

    overflow:hidden;

    text-overflow:ellipsis;

    -webkit-line-clamp: 2; 

    -webkit-box-orient: vertical;
    transition: all 0.3s;
    text-decoration: none;
    color: #444849;
}
.pds-list-price{
    margin-top: 16px;
    font-size: 20px;
    color: #C0A757;
    text-decoration: none !important;
}
.pd-detail-inform{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.4);
}
.product-content-intro{
    line-height: 2;
    height: 160px;
    font-size: 14px;
    display:-webkit-box;

    overflow:hidden;

    text-overflow:ellipsis;

    -webkit-line-clamp: 6; 

    -webkit-box-orient: vertical;

    color: rgba(0, 0, 0, 0.4);
}
.header{
    z-index: 1000000;
    /* width: 100%; */
    position: fixed;
    top: 41px;
    left: 0;
    right: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-navi{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-navi li {
    margin: 0 28px;
}
.header-navi a {
    font-size: 14px;
    color: #444849;
    transition: all 0.3s;
}
.header-navi a:hover {
    color: #C0A757;
    transition: all 0.3s;
}
/* mobile */
.header-navi-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-navi-mobile li:not(:first-child) {
    margin-top: 8vw;
}
.header-navi-mobile a {
    font-size:4.2vw;
    color: #444849;
    transition: all 0.3s;
}
.header-navi-mobile a:hover {
    color: #C0A757;
    transition: all 0.3s;
}

.header-btn{
    min-width: 160px;
    width: 160px;
    height: 70px;
    border-radius: 360px;
    background-color: #C0A757;
    box-shadow: 1.4rem 1.4rem 2.7rem 0 rgb(89 126 156 / 15%);
    display: flex;
    position: fixed;
    top: 41px;
    right: 130px;
    align-items: center;
}
.header-btn p{
    display: block;
    width:100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.product-btn{
    margin-top: 41px;
    width: 100%;
    border-radius: 360px;
    border: 2px solid#C0A757;;
    display: flex;
    top: 41px;
    right: 130px;
    align-items: center;
    justify-content: center;
}
.product-btn p{
    margin: 12px;
    color: #C0A757;
    text-decoration: none;
}
.product-btn:hover{
    background-color: #C0A757;
}
.product-btn:hover p{
    color: white;
}

.price-btn{
    min-width: 160px;
    width: 160px;
    height: 70px;
    border-radius: 360px;
    background-color: #C0A757;
    box-shadow: 1.4rem 1.4rem 2.7rem 0 rgb(89 126 156 / 15%);
    display: flex;
    top: 41px;
    right: 130px;
    align-items: center;
}
.price-btn p{
        display: block;
    width:100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
/* socialmedia */
.mobile-social-media ul{
    flex-direction: row !important;
}
.mf-social-side-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
   padding: 0;
   margin:0
}
.mf-social-side-list ul li a {
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.mf-social-side-list ul li a:hover {
    opacity: .9;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    transform: scale(1.2);
}
.mf-social-side-list ul li a[href*='facebook'] {
    background: #3b5998;
}
.mf-social-side-list ul li a[href*='instagram'] {
    width: 48px;
    height: 48px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
}
.mf-social-side-list ul li a[href*='youtube'] {
    background: #c4302b;
}
.mf-social-side-list ul li a[href*='linkedin'] {
    background: #0077B5;
}
.mf-social-side-list ul li a[href*='twitter'] {
    background: #00acee;
}
.mf-social-side-list ul li a[href*='lin'] {
    /* background: #00acee; */
    color: #07B53B;
}
/* 手機版header-btn */
.header-btn-group{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
}
.header-btn-mobile{
    border-radius: 360px;
    background-color: #C0A757;
    box-shadow: 1.86667vw 1.86667vw 3.6vw 0 rgb(0 0 0 / 15%);
    width: 58.66667vw;
    height: 18.66667vw;
    margin: 16px auto;
    display: flex;
    align-items: center;
}
.header-btn-mobile p{
    font-size:3.8vw;
    display: block;
    width:100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.header-logo{
    display: flex;
    position: fixed;
    align-items: center;
    min-width: 160px;
    width: 160px;
    height: 70px;
    top:41px;
    left: 130px;
}

.wrapper{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 4%;
}
.margin-botoom-40{
    margin-bottom: 40px;
}
/* 手機板HAM*/
.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10000000;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:rgb(132, 139, 141);
    stroke-width:3;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
  /* 手機板HAM*/
/* 主視覺 */
.mainvisual{
    width: 100%;
    /* background-color: #C0A757; */
    position: relative;
}
#aboutus{
    margin-top: 240px;
}

.aboutus-title{
    color: #C0A757;
    font-size: 40px;
}
.aboutus-subtitle{
    margin-top: 40px;
    font-size: 24px;
}
.aboutus-content{
    color: #8e96a3;
    margin-top: 40px;
    line-height: 24px;
    font-size: 16px;
}

.mainvisual-product{
    width: 952px;
    height: 600px;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* background-color: red; */
}
.mainvisual-product-logo {
    width: 412px;
    position: absolute;
    width: 412px;
    height: 375px;
    left: 0px;
    top: 112.5px;
}
.mainvisual-product-img{
    position: absolute;
    left: 50%; /* ★ */
    transform: translateX(-50%); /* ★ */
    filter: drop-shadow(12px 23px 18px rgba(0, 0, 0, 0.05));
}
.mainvisual-news{
    position: absolute;
}
.mainvisual-news a{
    padding: 30px;
    border-radius: 30px;
    /* border: #CABE98 1px solid; */
    box-shadow: 53px 53px 90px 0 rgb(50 100 135 / 10%);
    background-color: #fff;
    display: flex;
    align-items: center;
}
.mainvisual-news-img{
    width: 110px;
    min-width: 110px;
    margin-right: 20px;
}
.mainvisual-news-img img{
    border-radius: 18px;
}
.mainvisual-news-info{
    width: 100%;
    display: flex;
    height: 71px;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}
.mainvisual-news-title{
    display:-webkit-box;

    overflow:hidden;

    text-overflow:ellipsis;

    -webkit-line-clamp: 2; 

    -webkit-box-orient: vertical;
}
.mainvisual-news-date{
    color: #C0A757;
    text-align: right;
}
/* 主視覺 */
.header-globalnavi{
    display: flex;
    display: none;
    /* opacity: 0; */
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 100;
}
/* 背景 */
#svgContainer{
    z-index: 100;
    position:fixed;
    width:300%;
    height:100%;
}
.curtain {
    z-index: -1;
    width: 110%;
    height: 100%;
    position: fixed;
    top: 0;
    /* left: 50%; */
    /* z-index: -1; */
}
.curtain:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    background-image: linear-gradient(180deg,#fff,hsla(0,0%,100%,0) 15%);
}
.curtain:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at top left,#fff 0,hsla(0,0%,100%,0) 50%);
}
.destop-switch{
    display: block;
}
.news-inform p{
    display: inline;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    color: #C0A757;
}
.news-inform-block{
    margin: 0 14px;
}

#footer{
    margin-top: 120px;
    z-index: 100000000000000000;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer p{
   display: block;
   color: #8e96a3;
}
.skin-group{
    display: flex;
    align-items: center;
}
.skin-group-font{
    color: #C0A757;
}
.skin-img{
    margin-right: 12px;
    width: 60px;
    height: 60px;
}
#product-choose{
    min-height: 100vh;
    margin-bottom: 3%;
}
.inside-word{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 20px;
    max-width: 60%;
    height: 100%;
}
.flex-row{
    display: flex;
}
.gotoshop{
    align-items: center;
    z-index: 1000;
}
.gotoshop >*{
    color: #C0A757 !important;
}
.gotoshop p{
    margin-right: 16px;
}
.product-grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 70px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-auto-rows: 40vmin; */
    grid-auto-flow: row dense;
}
.cosmetic-item{
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
    height: 350px;
    width: 350px;
    position:absolute;
    bottom: 20px;
    /* top: 50%; */
    right: -40px;
    /* transform: translateY(-50%); */
    z-index: 100;
    transition: all 0.3s;
    cursor: pointer;
}
.choice-tile:hover .cosmetic-item{
    transform: scale(1.1);
    transition: all 0.3s;
}
.choice-tile:hover .gotoshop p{
    text-decoration:underline;
}
.choice-tile{
    box-sizing: border-box;
    height: 300px;
    min-width: 500px;
    position: relative;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);
    padding: 20px;
}
.choice-inside-frame{
    max-height: 100%;
    height: 100%;
    border: #C0A757 2px solid;
    border-radius: 16px;
    cursor: pointer;
}
.AS-second-group{
    margin-top: 20vh;
    text-align: center;
}
.AS-content-group{
    margin-top: 20vh;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.AS-first-group{
    text-align: center;
}
.AS-image-group{
    margin-top: 36px;
    margin-bottom: 36px;
    align-items: center;
    justify-content: center;
}
.AS-image-group img{
    display: block;
    width: 200px;
    margin: 0 40px;
}

/*  */

.slides {
    padding: 0;
    height: 400px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.main-pd-content{
    padding: 12px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.2);
}
.main-pd-area1{
    display: block;
    flex: 1 1 0;
}
.main-pd-area1 >*{
    margin-bottom: 28px;
}
.main-pd-area2{
    display: block;
    flex: 1 1 0;
}
.main-pd-area2 >*{
    margin-bottom: 28px;
}
.main-pd-price{
    font-size: 42px;
    color: #C0A757;
}
.main-pd-gp-top{
    width: 100%;
    position: relative;
    height: 400px;
}
.slide {
    top: 0;
    opacity: 0;
    height: 400px;
    display: block;
    position: absolute;
    text-align: center;
    transition: all .7s ease-in-out;
}
.main-product_group{
    width: 100%;
   margin-top: 40px;
   /* top: 0; */
   top: 0;
   opacity: 0;
   height: 400px;
   display: none;
   position: absolute;
   transition: all .7s ease-in-out;
   /* width:100%; */
}
input:checked + .main-product_group{
    opacity: 1;
    display: flex;
    transition: opacity 1s ease-in-out;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    height: 400px;
    display: block;
    position: absolute;
    text-align: center;
    transition: all .7s ease-in-out;
}
.slide-father{
    position: relative;
}
.slide-img-gp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.slide-bg{
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: AUTO;
    z-index: -1;
    opacity: 0.5;
}
.slide-img-it5{
    display: block;
height: 60%;
}
input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.2);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: #C0A757;
}
.main-pd-title{
    transition: all 0.3s;
}
.img1-title-font{
    content: attr(data-hover);
}

input#img-1:checked ~ .nav-dots #img-dot-1,
input#img-2:checked ~ .nav-dots #img-dot-2,
input#img-3:checked ~ .nav-dots #img-dot-3,
input#img-4:checked ~ .nav-dots #img-dot-4
{
	background: #C0A757;
}
  .ab-image-img{
        width:80%;
    }
    .ab-image-colcum{
        margin-top: 40px;
    }

/*  */
/* 背景 */
@media(min-width: 1025px){
    .flex-colcum{
        flex-direction: column;
    }
    .AS-image-group{
        display: flex;
    }
    .main-product_group{
        display: flex;
        gap: 40px;
    }
    .slides {
        width: 820px;
    }
    .slide {
        width: 820px;
    }

    .AS-first-group{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .AS-content-group{
        display: flex;
        align-items: center;
        gap: 40px;
    }
 
    #product-choose{
        margin-top: 240px;
        min-height: 100vh;
    }
    .product-grid{
        grid-template-columns: repeat(2, minmax(560px, 1fr));
    }
    .ab-font-content{
        width: 50%;
    }
    .full-width{
        width: 100%;
    }
    .ab-image{
        width: 50%;
    }
    .ab-image-colcum{
        width: 100%;
    }
    .ab-image-img{
        /* width:100%; */
        width:80%;
    }
    .grid-group{
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    .news-inform{
        margin-top: 35px;
        font-size: 12px;
    }
    .news-title{
        margin-top: 41px;
        line-height: 2.3;
    }
    .product-content-intro{
        margin-top: 41px;
    }
    .topics-top{
        margin-top: 144px;
    }
    .topics-categories{
        margin-top: 145px;
    }
    .topics-title {
        font-size: 32px;
    }
    .topic{
        max-width: 820px;
    }
    .product-list{
        max-width: 820px;
    }
    .main-product{
        max-width: 820px;
    }
    #Container {
        min-width: 1024px;
        min-height: 100vh;
    }
    #Content{
        padding-top: 310px;
    }
    .mf-social-side-list {
        position: fixed;
        left: 80px;
        z-index: 100;
    }
    .mf-social-side-list {
        top: 50%; /* ★ */
        transform: translateY(-50%); /* ★ */
    }
    .mainvisual{
        height: 100vh;
    }
    .mainvisual-news{
        width: 370px;
        right: 130px;
        bottom: 87px;
    }
    .mainvisual-product-img {
        width: 203.9px;
        height: 486px;

        top: 83px;
    }
    .header-logo{
        position: fixed;
        top:41px;
        right: 130px;
    }
}
 
@media(max-width: 1024px) {
    .AS-content-group{
        flex-direction: column;
    }
    .Amelia-logo-m{
        order: -1;
    }
    .ab-image{
        margin-top: 40px;
    }
    #product-choose{
        margin-top: 20vh;
    }
    .product-content-intro{
        margin-top: 2px;
        height: 120px;
    }
    .AS-image-group img{
        display: inline;
        width: 200px;
        margin: 24px;
    }
    .main-pd-gp-top{
        height: 600px;
    }
    input:checked + .main-product_group{
        display: block;
    }
    .slide-bg{
        width:100%;
    }
    .slides {
        width: 100%;
    }
    .slide {
        width: 100%;
    }
    
    .skin-img{
        width: 40px;
        height: 40px;
    }
    .skin-group .skin-group-font{
        font-size: 18px;
    }
    .inside-word >p{
        font-size: 12px !important;
    }
    .inside-word{
        padding: 16px;
        max-width: 70%;
    }
    .choice-inside-frame{
        max-height: 100%;
    }
    .choice-tile{
        height: 250px;
        min-width: 100%;
    }
    .cosmetic-item{
        height: 200px;
        width: 200px;
    }
    .product-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    #footer p{
        font-size: 12px;
    }
    .news-pic {
        height: 200px;
    }
    #Content{
        padding-top: 54.66667vw;
        padding-bottom: 25.06667vw;
    }
    .topics-categories{
        padding-top: 20vw;
    }
    .news-inform{
        margin-top: 5.33334vw;
    }
    .news-title{
        margin-top: 41px;
        margin-top: 5.86667vw;
        line-height: 2;
    }
    .grid-group{
        min-height: 40vh;
        margin: 0 auto;
        padding: 0 4%;
    }
    .topics-top{
        margin-top: 80px;
    }
    .mf-social-side-list {
        display: flex;
        justify-content: center;
    }
    .mf-social-side-list ul li a {
        margin-top: 0px;
    }
    .mf-social-side-list ul li:not(:first-child){
        margin-left: 10px;
    }
    .destop-switch{
        display: none;
    }
    .header-logo{
        position: static;
    }
   .ham{
    display: block;
   }
   .header-navi{
    display: none;
   }
   .header-btn{
    display: none;
   }
   .header{
    top: 8.26667vw;
   }
   .header-logo{
    min-width: 100px;
    width: 100px;
   }
   .mainvisual-product{
    width: 70.66667vw;
    height: 111.73334vw;
    position: relative;
    margin: 22.66667vw auto 0;
    /* background-color: red; */
    }
    .mainvisual-product-logo {
        width: 70.66667vw;
        top: 10%; /* ★ */
        /* transform: translateY(-50%);  */
        left: 0;
    }
    .mainvisual-product-img {
        /* height: 90vw; */
        bottom: 0;
    }
    .mainvisual-news{
        position: relative;
        margin: 18vw 8vw 0;
    }
  }